/* These are base styles for mobile first*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  padding-top: 4rem;
}
html {
  font-size: 16px;
  font-family: 'Noto Sans', sans-serif;
}
/* This is the header with logo, Company and Nav Menu  for mobile first*/
header {
  background-color: white;
  width: 100%;
  height: 4rem;
  position: fixed;
  box-shadow: 0 0 10px 0 #999;
}
.menuitems {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 4rem;
}
.show-on-desktop {
  display: none;
}
.show-on-mobile {
  display: block;
}

/* This is the hero section  for mobile first*/
.section.hero {
  display: flex;
  flex-direction: column;
  background-color: lightgrey;
  height: auto;
}
.section.hero h1, h3 {
  color: #4e4e4e;
}
.section.hero .title {
  display: flex;
  flex-direction: column;
  padding: 2rem 1rem;
}
.banner img {
  width: 100%;
  height: auto;
}
.title button {
  margin:auto;
  background-color: #00BFFF;
  color: white;
  font-size: 1.25rem;
  border: none;
  padding: 0.5rem;
  width: 100%;
  border-radius: 0.25rem;
}
.title button:hover {
  background-color: #1ec4fc;
}
h1 {
  font-size: 2.50rem;
  padding-bottom: 2rem;
  font-weight: bold;
  color: #4a4a4a;
}
h3 {
  font-size: 1.5rem;
  padding-bottom: 1.5rem;
}
/* This is the services section  for mobile first*/
.main.service {
  display: none;
}
.secondary.service {
  display: flex;
  flex-direction: column;
  background-color: white;
  height: auto;
  padding: 1rem;
}
.service.title {
  padding: 2rem 0rem;
  width: 100%;
}
.service.title span {
  color: deepskyblue;
}
.service.title p {
  color: #414141;
  padding-bottom: 2.5rem;
  line-height: 1.4;
}
.service.title h2 {
  color: #414141;
  font-weight: bold;
}
.service.title h1 {
  color: #414141;
  padding-bottom: 1.5rem;
}
h2 {
  font-size: 1.75rem;
  padding-bottom: 0.50rem;
  color: #4e4e4e;
}

/* This is the learning section  for mobile first*/
.section.learning {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  height: auto;
  padding: 2rem 1rem;
  border: 0.005rem solid lightgrey;
}
.section.learning .title h1 {
  text-align: center;
  padding-bottom: 1rem;
}
.learning.title {
  padding: 0.25rem;
}
.section.learning .title h4 {
  padding: 0.5rem 0rem;
}
.section.learning .title h2 {
  text-align: left;
  background-color: lightgrey;
  padding: 1rem;
}

}
/* This is the exhibit section  for mobile first*/
.section.exhibit {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  height: auto;
  padding: 1.5rem 0rem;
}
.section.exhibit .title h1 {
  text-align: center;
  padding: 2rem 0rem;
}
.main.exhibit video {
  width: 100%;
  padding-bottom: 1.5rem;
}


footer {
  background-color: white;
  height: 4rem;
  padding: 1rem;
  font-size: 0.75rem;
  color: #4e4e4e;
}




/* Breakout of mobile first media queries */
@media screen and (min-width: 400px)  {}
@media screen and (min-width: 600px)  {}
@media screen and (min-width: 1000px) {
  /* These are base styles for desktop*/
  .show-on-desktop {
    display: block;
  }
  .show-on-mobile {
    display: none;
  }
  /* These are header and navigation styles for desktop*/
  .content, .topnav {
    width: 1200px;
    margin: 0 auto;
  }
  .logo {
    width: 60%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding-left: 1rem;
  }
  .menu {
    width: auto;
    text-align: center;
  }
  .colmar, .academy {
    color: #4E4E4E;
    font-weight: bold;
    font-size: 1.25rem;
  }
  .academy {
    color: #999999;
}
.title button {
    margin: 0;
}
h3 {
    padding-bottom: 2rem;
}
  /* This is the hero section for Desktop*/
  .section.hero {
    display: flex;
    flex-direction: row;
    height: auto;
  }
  .section.learning .courses img, h4, p {
    display: flex;
  }
  .hero.banner {
    width: 60%;
    height: auto;
    padding: 2rem 1.5rem;
  }
  .section.hero .title {
    display: flex;
    padding: 8rem 3.5rem 8rem 1rem;
    width: 26rem;
}
  /* This is the services section for Desktop*/
  .section.services {
      display: flex;
      flex-direction: row;
  }
  .main.service {
      display: flex;
      flex-direction: column;
      width: 60%;
      padding: 2rem 1.5rem;
  }
  .secondary.service {
    display: flex;
    flex-direction: column;
    width: 40%;
    padding: 1rem 0rem;
  }
  .secondary.service .first, .secondary.service .second, .secondary.service .third {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
  .first.banner, .second.banner, .third.banner {
    padding: 1rem;
  }
/* This is the courses section for Desktop*/
  .section.learning {
    display: flex;
    flex-direction: column;
    background-color: white;
    height: auto;
    padding: 2rem 1rem;
    border: 0.005rem solid lightgrey;
}
  .courses.placeholder {
    display: flex;
    flex-wrap: wrap;
  }

@media screen and (min-width: 1400px) {

  .show-on-desktop {
    display: block;
  }

  .section.hero {
    display: flex;
    flex-direction: row;
    height: auto;
  }
  .section.learning .courses img, h4, p {
    display: flex;
}
